@import "defines";

body {
   .description {
      strong {
         font-weight: bolder;
      }

      em {
         font-style: italic;
      }

      p, ul, ol, h1, h2, h3, h4 {
         padding-top: 0.5em;
         margin: 0;

         &:first-child {
            padding-top: 0;
            margin-top: 0;
         }
      }

      ul, ol {
         padding-left: 2em;
         display: block;
         -webkit-margin-start: 0px;
         -webkit-margin-end: 0px;
         -webkit-padding-start: 2em;

         ul {
            li {
               display: list-item;
               text-align: -webkit-match-parent;
            }
         }
      }

      ul {
         li {
            list-style-type: circle;
         }
      }

      h1 {
         font-size: 200%;
         margin: 0;
         padding-bottom: 1em;
      }

      h2 {
         font-size: 150%;
         margin: 0;
         padding-bottom: 0.8em;
      }

      h3 {
         font-weight: bolder;
         font-size: 100%;
         margin: 0;
         padding-bottom: 0.5em;
      }

      h4 {
         font-style: italic;
         font-size: 100%;
         margin: 0;
         padding-bottom: 0.2em;
      }
   }

   .name {
      margin: 0;

      &.short {
         font-weight: 500;
      }

      &.first {
         font-weight: 500;
      }

      &.nick {
         font-weight: 500;

         &::before {
            //content: '«';
         }

         &::after {
            //content: '»';
         }
      }

      &.last {
         font-style: italic;

         &::before {
            content: '(';
         }

         &::after {
            content: ')';
            padding-right: 3px;
         }
      }

      &.feat {
         font-weight: 500;
      }

      &::after {
         content: ' ';
      }

      &:empty {
         display: none;

         &::before {
            content: none;
            display: none;
         }

         &::after {
            content: none;
            display: none;
         }
      }
   }

   .collection {
      .collection-item {
         &.memory, &.event, &.description {
            min-height: auto;
            padding: 0;
            line-height: inherit;
            background-color: $book;
            color: $dark;

            .collapsible-header {
               padding: 0 1rem 0 1rem;
               line-height: 300%;
               background-color: $book;
               min-height: 3.3em;
               display: block;

               &:only-child {
                  cursor: default;
                  background-color: #f9f9f9;
               }
            }

            .collapsible-body {
               cursor: pointer !important;

               padding: 1rem;
               height: 0px;
               max-height: 0px;

               &:empty {
                  display: none !important;
               }

               .row {
                  margin-bottom: 0px;
               }

               .container {
                  width: 100%;
               }
            }
         }

         &.memory {
            .collapsible-header {
               padding-left: 4rem;
            }
         }

         &.active {
            .collapsible-body {
               height: auto;
               max-height: unset;
               display: inline-block;
            }
         }

         &.avatar:not(.circle-clipper) > .circle,
         &.avatar :not(.circle-clipper) > .circle {
            left: 0.5rem;
            top: 1px;
         }
      }
   }

   .collection.popout {
      .collection-item {
         &.active {
            margin: 16px 3px;
         }
      }
   }

   .dates {
      padding-left: 23px;

      .date.fixed-action-btn {
         position: relative;
         display: inline-block;
         padding: 0;
         top: 0;

         & > .chip {
            background-color: aliceblue;
         }

         ul {
            z-index: 1000;
            bottom: 15px;

            .chip {
               background-color: antiquewhite;
            }
         }
      }
   }

   .carousel.compact {
      height: 200px;

      .carousel-item {
         width: auto;
         cursor: pointer !important;
         display: block;
      }
   }

   .introjs-tooltipReferenceLayer {
      .begin {
         left: 20px !important;
      }

      .introjs-button {
         font-size: 0.8rem;
      }

      .introjs-donebutton {
         color: black;
      }
   }
}
