$dark: rgba(47, 16, 95, 0.96);
$smooth_dark: rgba(47, 16, 95, 0.6);
$terracota: #ee6e73;
$gold: #d4af37;
$book: #ffffff; //TODO make real book color
$lighten_terracota: #f08e93;
$darken_terracota:  #dd3e43;
$grayed_terracota: #f8dfe3;
$lighten_gold: #fcc200;
$darken_gold:  #cfb53b;
$soft_blue: #039be5;
$small_height: 30rem;
$medium_height: 45rem;
$large_height: 60rem;
$small_width: 40rem;
$medium_width: 60rem;
$large_width: 80rem;
$xlarge_width: 100rem;
$today_color: PaleTurquoise;
$selected_color: DeepSkyBlue;
$lighten_selected_color: SkyBlue;
$error_color: Red;
$mooncolor: #a8aeb3;
