html {
   .introjs-tooltip {
      max-width: fit-content;
      max-width: -moz-fit-content;
      min-width: 15rem;

      .introjs-button {
         font-size: inherit;
      }
   }

   .run-intro {
      &.btn-floating.btn-large {
         bottom: 2rem;
         right: 2rem;
         width: 3rem;
         height: 3rem;

         position: fixed;
         z-index: 1003;

         i {
            font-size: 2rem !important;
            line-height: 3rem;
         }
      }
   }
}
