= react_component 'MemoriesForm', date: @date&.strftime("%d.%m.%Y"),
                                  memories: MemoriesSerializer.new(@memories,
                                                  total: @memories.total_count,
                                                  page: @page,
                                                  locales: @locales,
                                                  serializer: MemorySpanSerializer,
                                                  date: @date,
                                                  julian: @julian,
                                                  calendaries: @calendary_slugs),
                                  calendaries_cloud: CalendaryCloudSerializer.new( @calendary_cloud, locales: @locales ),
                                  calendaries_used: @calendary_slugs,
                                  tokens: @tokens
