/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require materialize
 *= require_tree .
 *= require_self
 */

$dark: #292929;
$terracota: #ee6e73;
$small_height: 30em;
$medium_height: 45em;
$large_height: 60em;
$small_width: 40em;
$medium_width: 60em;
$large_width: 80em;
$today_color: #c7d8ed;
$selected_color: #80a8cd;

//#####

span {
   margin-left: 3px;
   margin-right: 3px;
}

p#notice {
   margin: 0;
}

a {
   color: rgba(0, 0, 0, 0.6)
}

a[href] {
   color: #039be5;
}

.col .row {
   padding: inherit;
}

body > .pickmeup, div:empty, .chip:empty, .hidden, ul.indicators {
   display: none !important;
}

.terracota {
   background-color: $terracota !important;
}

.title {
   font-weight: bold;
}

.centering {
   text-align: center;
}

.flow-text {
   margin-top: 0;
}

//#####

nav .brand-logo {
   padding-left: 10px;

   @media only screen and (max-width: $large_width) {
      left: 0;
      transform: none;
   }

   @media only screen and (max-width: $small_width) {
      left: 50%;
      transform: translate(-50%);
   }
}

main > .container {
   margin-top: 20px;

   @media only screen and (max-width: $large_width) {
      width: 92%;
      padding-right: 6%;
   }

   @media only screen and (max-width: $medium_width) {
      width: 95%;
      padding-right: 5%;
   }

   @media only screen and (max-width: $small_width) {
      width: 90%;
   }
}

.chip {
   white-space: nowrap;

   &.year-date {
      padding: 0 5px 0 5px;
      background-color: #f8f8f8 !important;
   }

   &.date {
      background-color: #f8f8f8 !important;
   }

   &.calendary {
      background-color: #f0f8ff !important;
   }
}

.pickmeup.pmu-hidden {
   display: block;
}

.row.calendary {
   height: 20rem;
   text-align: center;

   #calendar {
      background: transparent;
      display: inline-block;

      .pmu-view-days {
         background-color: transparent;
         position: relative;
      }

      .pmu-instance {
         .pmu-days {
            .pmu-button {
               border-radius: 50%;
               margin-left: 1px;
               margin-right: 1px;
               width: 1.8em !important;
            }

            .pmu-not-in-month {
               color: #717171;
            }

            .pmu-today {
               background-color: $today_color
            }

            .pmu-selected {
               background-color: $selected_color
            }

            .pmu-today.pmu-selected {
               @extend .pmu-today;
               border: 1px solid $selected_color;
            }
         }

         .pmu-day-of-week {
            background-color: #f79eb3;

            div {
               margin-left: 1px;
               margin-right: 1px;
               width: 1.8em !important;
            }
         }

         & > nav {
            height: auto;
            background-color: auto;
            width: auto;

            .pmu-yesterday {
               @extend .pmu-prev !optional
            }

            .pmu-tomorrow {
               @extend .pmu-next !optional
            }

            .pmu-left {
               width: 6em;
               text-align: left;
            }

            .pmu-right {
               width: 6em;
               text-align: right;
            }
         }

         .pmu-button {
            color: #212121;
            padding: 1px;
            box-sizing: border-box;
            border: 1px solid transparent;

            &hover {
               @extend .pmu-button;
               background-color: #17384d;
            }
         }
      }

      [type="radio"] + label.pmu-style:after,
      [type="radio"] + label.pmu-style:before,
      [type="radio"] + label.pmu-style {
         content: none;
         display: inline-block;
         cursor: pointer;
         color: $dark;
         background: $terracota;
         box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
         transition: 0.3s;
         user-select: none;

         width: 11em;
         height: 3em;
         text-align: center;
         font-size: 10px;
         outline: medium none;
         text-decoration: none;
         letter-spacing: 0.5px;
         border: medium none;
         border-radius: 2px;
         line-height: 3em;
         padding: 0;
         text-transform: uppercase;

         &:hover {
            background: darken($terracota, 10%);
            color: darken($dark, 10%);
            box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.32);
         }
      }

      [type="radio"] + label.pmu-style:after {
         margin-left: 3px;
      }

      [type="radio"] + label.pmu-style:hover {
         background: darken($terracota, 5%);
         color: darken($dark, 5%);
         box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.32);
      }

      [type="radio"]:checked + label.pmu-style {
         background: darken($terracota, 25%);
         color: lighten($dark, 5%);
         transform: translateY(2px);
         box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22);
      }
   }
}

.input-field {
   & > .material-icons {
      padding-top: 10px;
   }

   input[type="search"] {
      width: calc(100% - 2.5rem);
      padding-left: 0;

      &:focus {
         border-style: none none dotted;
         border-width: medium medium 1px;
      }
   }
}

.collection {
   .collection-item {
      &.memory {
         min-height: auto;
         padding: 3px 0 0 0;
         color: black;
         background-color: white;

         .collapsible-header {
            padding: 0 1rem 0 4rem;
         }

         .collapsible-body {
            padding: 1rem;
         }
      }

      &.avatar .circle {
         left: 0.5rem;
         top: 1px;
      }
   }
}

.carousel.compact {
   height: 200px;

   .carousel-item {
      width: auto;
      cursor: pointer !important;
      display: block;
   }

   img {
      height: 0;
   }

   &.initialized img {
      height: 200px;
   }
}

#slider-modal {
   width: 90%;
   overflow: hidden;
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   filter: alpha(opacity=0);
   display: block !important;
   opacity: 1 !important;
   box-shadow: none;
   max-height: none;
   top: 0 !important;
   height: 0;

   .modal-content {
      padding: 0;
   }

   &.open {
      top: 5% !important;
      height: inherit;
   }
}

img.icon {
   height: 100%; // about 1020px;

   @media (max-height: $large_height) {
      height: 55em; // about 825px
   }

   @media (max-height: $medium_height) {
      height: 40em; // about 600px
   }

   @media (max-height: $small_height) {
      height: 25em; // about 375
   }
}

.lory_slider {
   margin: 0 auto 0;
   width: auto;
   position: relative;
   -moz-user-select: none;

   .frame {
      font-size: 0;
      line-height: 0;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      padding: 0;
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: 0 none;

      .slides {
         font-size: 0;
         line-height: 0;
         white-space: nowrap;
         display: inline-block;

         li {
            color: #fff;
            display: inline-block;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 15px;
            line-height: 30px;
            position: relative;
            text-align: center;
            margin-right: 12px;

            img {
               margin-top: 8px;
               margin-bottom: 8px;
               margin-left: 8px;
               margin-right: 8px;
               background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
               box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3)
            }

         }

         li:nth-last-child(1) {
            margin-right: 0;
         }
      }
   }

   .prev, .next {
      position: absolute;
      top: 50%;
      margin-top: -25px;
      display: block;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.3);

      svg {
         width: 25px;
      }

      &.disabled {
         display: none;
      }
   }

   .next {
      right: 0;
   }

   .prev {
      left: 0;
   }

   .modal-action {
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      bottom: 1em;
      display: block;
      cursor: pointer;
      right: 1em;
      color: #DEB3AA;
   }

   .prev:hover, .next:hover, .modal-action:hover {
      background: rgba(0, 0, 0, 0.5);
   }
}
