/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require materialize
 *= require webpack/app
 *= require_tree .
 *= require_self
 */

//#import '~pickmeup/css/pickmeup'

nav .brand-logo {
   padding-left: 10px;
}

span {
   margin-left: 3px;
   margin-right: 3px;
}

main > .container {
   margin-top: 20px;
   width: 85%;
}

p#notice {
   margin: 0;
}

body > .pickmeup {
   display: none;
}

div:empty, .chip:empty {
   display: none;
}

.pickmeup.pmu-hidden {
   display: block;

}

.pmu-button {
   border-radius: 50%;
}

//#####

.terracota {
   background-color: #ee6e73 !important;
}


#query .input-field input[type="search"] {
   width: calc(100% - 3rem);
   padding-left: 0;
}

#query .input-field input[type="search"]:focus {
   border-style: none none dotted;
   border-width: medium medium 1px;
}

.input-field .material-icons {
   margin-top: 10px;
}

#calendar {
   background: transparent;

   .pickmeup {
      background-color: transparent;
   }

   .pmu-instance > nav {
      height: auto;
      background-color: auto;
      width: auto;
   }

   .pmu-day-of-week {
      background-color: #f79eb3;
   }

   .pmu-button {
      color: #717171;
   }

   .pmu_button:hover {
      background-color: #17384d
   }

   .pmu-not-in-month {
      color: #212121;
   }

   .pmu-today {
      background-color: #c7d8ed
   }

   .pmu-selected {
      background-color: #80a8cd
   }
}

.carousel {
   .carousel-item {
      width: auto;
   }
}

.chip.date {
   padding: 0 5px 0 5px;
   background-color: #f8f8f8 !important;
}

.collection {
   .collection-item.memory {
      min-height: auto;
      padding: 3px 0 0 0;
      color: black;
      background-color: white;

      .collapsible-header {
         padding: 0 1rem 0 4rem;
      }
   }
}

//.carousel .carousel-item {
//   z-index: 0;
//}

//.carousel {
//   margin-top: -70pt;
//}

//.carousel-wrap {
//   margin-top: -70pt;
//   height: auto;
//}
